:root {
  --background-c: #ffffff;
  --foreground-c: #171717;
  --error-c: crimson;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-c: #0a0a0a;
    --foreground-c: #ededed;
    --error-c: #e0788d;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-c);
  background: var(--background-c);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-geist-sans);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: inherit;
  text-align: center;
}

.error-msg,
.loading-msg {
  height: 1rem;
  font-size: 1rem;
  font-family: var(--font-geist-mono);
  padding: 0.5rem;
  text-align: left;
}

.loading-msg {
  width: 120px;
  text-wrap: nowrap;
}

.error-msg {
  width: 240px;
  color: var(--error-c);
}

.loader {
  width: 120px;
  height: 20px;
  background:
    linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%) #f2f2f2;
  background-size: 300% 100%;
  animation: loading 1s infinite linear;
}

.spinner {
  margin-left: calc(50% - 25);
  width: 50px;
  height: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #7c7c7c;
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: spinning 1s infinite linear;
}

@keyframes loading {
  0% {
    background-position: right
  }
}

@keyframes spinning {
  to {
    transform: rotate(1turn)
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}