.user-profile-panel {
  border: 1px solid black;
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

section {
  display: flex;
}

.left-panel {
  position: relative;
  width: 70%;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  text-align: left;
  text-align-last: left;
}

.right-panel img {
  object-fit: cover;
  margin: auto;
}

.right-panel {
  border: 1px solid black;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
  aspect-ratio: 1/1;
  margin: 1rem 1rem 1rem 2rem;

}

.left-panel .welcome-txt {
  text-align: left;
  margin-bottom: 1rem;
}

.left-panel .intro {
  max-height: 100px;
  overflow-y: scroll;
}

.ctas {
  height: 2rem;
  margin: 0.5rem;
  margin-inline-start: auto;
  color: royalblue;
  background-color: lightskyblue;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  line-height: 1;
}

@media (max-width: 600px) {
  /* .user-profile-panel {
    flex-direction: column;
    height: unset;
    width: unset;
  } */

  section {
    width: 100%;
  }

  .left-panel img {
    height: Min(40vh, 500px);
  }

  .right-panel {
    align-items: center;
    padding: 2rem 2rem 2.4rem 2rem;
  }

  .right-panel .intro {
    max-height: unset;
    overflow-y: unset;
  }

  .right-panel p {
    margin: 1rem 0 1.6rem;
  }


}