.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #4f4a4a;
  --button-secondary-hover: #f2f2f2;

  height: 100vh;
  padding: 1rem;
  max-width: Min(800px, 100vw);
  margin: 0 auto;
  font-family: var(--font-geist-sans);
  background-color: var(--background-c);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #3b3939;
  }
}

.page.page-me {
  background-color: var(--bg-me-c);
}

.page.page-form {
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96e7f4, #afafd2, #f195b4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main {
  display: flex;
  flex-direction: column;
}

.main-grid {
  display: grid;
  gap: 8px;
  height: calc(100vh - 2rem);
}

.layout-my-profile,
.layout-user-profile {
  grid-template-rows: 138px 41px calc(100% - 259px) 50px;
}

.layout-home {
  grid-template-rows: 50px calc(100% - 116px) 50px;
}

.layout-single-thread {
  grid-template-rows: 100px calc(100% - 156px) 50px;
}

.author-threads header>h3 {
  display: none;
}